body{
    background-color: black;
}

#map {height: 540px;
	  width: 75%;
	  display: inline-block;
	 }

.legend-control-container {
    padding: 10px;
    font: 16px/12px Optima, Optima, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
	height: 270px;
	text-align: center;
	opacity: 60%;
}

#attribute-legend {
	width: 100 px;
	height: 100 px;*/
	opacity: 60%;
}



.leaflet-popup-content p {
    margin: 0.2em 0;
}

.sequence-control-container {
    width: 350px;
    height: 20px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}




.range-slider {
    width: 200px;
    color: red;
    vertical-align: center;
    horizontal: center;
    text-align: center;
}




#panel{
    width: 1%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;}
    
.Raw{
	width: 100px;
	height: 80px;
	left: 50px;
	font: 'Optima';
	
}

.Normalized{
	width: 100px;
	height: 80px;
	font: 'Optima';
	
}
#forward {
    float: right;
    width: 50px;
    height: 30px;
    vertical-align:center;
    horizontal: center;
    
}

#reverse {
    float: left;
    width: 50px;
    height: 30px;
	vertical-align: center;
	horizontal: center;
}
/*
#Normalized {
	color: red;
}
*/

/*
#Raw {
	color: black;
}
*/

.header {
	color: white;
	background-color: black;
	padding: 1px;	
	text-align: center;
	font-family: 'Optima';
}

#textpanel {
    width: 20px;
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  	display: inline-block;
    vertical-align: top;
     
}

.text {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 390px;
   
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Optima', sans-serif;
    color: white;
    font-size: 14pt;
    background-color: none;
    opacity: .8;
    border-radius: 5px;
}